@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
    font-family: 'SUIT-Regular';
    font-size: 14px;
    line-height: 26px;
    color: #000;
    min-width: 1280px;
    background: url(./image/nature-wallpaper-3087145.jpg) no-repeat center top;
}

    
    

.video{
    width: 1280px;
    margin: auto;
    padding-top: 115px;
}
p{
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 10px;
    background: #fedbba;
    border-radius: 20px;
}