*{margin:0; padding:0;}
a{text-decoration:none; color: black;}
body{
    font-family: '맑은 고딕';
    font-size: 16px;
    line-height: 26px;
    min-width: 850px;
    background-color: blanchedalmond;
}

/* 버튼 */
p{
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 10px;
    background: #fedbba;
    border-radius: 20px;
}

